<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Weathervane" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Weathervane" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:100|Oxygen' rel='stylesheet' type='text/css'>
    <!-- Font Awesome Icons -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  </head>
  <body class="myBody">
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <%= render 'layouts/messages' %>
      <%= yield %>
      
      <div class="footer">
        <a href=""><p>Copyright &copy; Joe Marshall & Lara Grant - 2014</p></a>
      </div>
    
    </main>
    
  </body>
</html>
